<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome in bulky</h1>

    <form action="" method="post">
    
        <label for="email">Email From:</label>
        <input type="email" name="email" id="">
        <label for="email">Email To:</label>
        <input type="email" name="email" id="">
    </form>

    <form action="/upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="email-to-many">To Many</label>
        <label for="fileInput">Choose file:</label>
        <input type="file" id="fileInput" name="file" required>
        <br><br>
        <input type="submit" value="Upload">
    </form>
<br>
<label for="preview">Email preview</label>
    <div style="height: 500px; width: 300px; border: 1px solid black;">
      {% if emails %}
       <ul>
        {% for email in emails %}
            <li>{{ email }}</li>
        {% endfor %}
       </ul>
      {% else %}
          <p>No email found</p>
      {% endif %}
    </div>

    <!-- sending mails to fetched emails -->
    <div>
        <form action="{% url 'send_email' %}" method="post">
            {% csrf_token %}
            <ul>
                {% for email in emails %}
                  <li>
                    {{ email }} <input type="hidden" name="emails" value="{{ email }}">
                  </li>

                {% endfor %}
            </ul>
            <button type="submit">send emails</button>
        </form>
    </div>
</body>
</html>